---
import {
    telAdminReadble,
    telAdminLinkeable,
    telAdmin2Readble,
    telAdmin2Linkeable,
    telMechanicReadble,
    telMechanicLinkeable,
    telMechanic2Readble,
    telMechanic2Linkeable,
    telPartsReadble,
    telPartsLinkeable,
    email,
    instagram,
} from '@/hooks/env.js';
import CellPhone from '@/icones/CellPhone.astro';
---
<footer class="bg-gray-50 dark:bg-gray-800">
    <div class="p-4 py-6 mx-auto max-w-screen-xl md:p-8 lg:-10 border border-gray-200 mb-20 md:mb-10">
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-8 lg:grid-cols-8">
            <div class="col-span-2 sm:col-span-4 md:col-span-2 text-center">
                <a
                    href="./"
                    class="mb-4 text-xl font-bold text-gray-900 sm:mb-0 dark:text-white"
                >
                    <img src="logo.svg" class="mb-2 h-16 md:h-20 dark:invert mx-auto" alt="Soluciones Agroviales Logo" />
                    Soluciones Agroviales H.M.
                </a>
                <p class="mt-2 mb-4 text-sm font-normal text-gray-500 dark:text-white">
                    Repuestos, servicio y reparaci칩n de equipos de maquinarias viales
                </p>
                <ul class="flex mt-5 space-x-3 justify-center">
                    <li class="bg-primary-500 p-1 rounded-md">
                        <a
                            href={instagram}
                            class="hover:text-gray-900 dark:hover:text-gray-400 "
                        >
                            <svg class="w-6 h-6 text-gray-500 dark:text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M17 1H3c-1.1 0-2 .9-2 2v14c0 1.101.9 2 2 2h14c1.1 0 2-.899 2-2V3c0-1.1-.9-2-2-2M9.984 15.523a5.539 5.539 0 0 0 5.538-5.539c0-.338-.043-.664-.103-.984H17v7.216a.69.69 0 0 1-.693.69H3.693a.69.69 0 0 1-.693-.69V9h1.549c-.061.32-.104.646-.104.984a5.54 5.54 0 0 0 5.539 5.539M6.523 9.984a3.461 3.461 0 1 1 6.922 0a3.461 3.461 0 0 1-6.922 0M16.307 6h-1.615A.694.694 0 0 1 14 5.308V3.691c0-.382.31-.691.691-.691h1.615c.384 0 .694.309.694.691v1.616c0 .381-.31.693-.693.693"/></svg>
                        </a>
                    </li>
                    <li class="bg-primary-500 p-1 rounded-md">
                        <a
                            href={'mailto:' + email}
                            class="hover:text-gray-900 dark:hover:text-gray-400 "
                        >
                        <svg class="w-6 h-6 text-gray-500 dark:text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"><path fill="currentColor" d="M32.33 6a2 2 0 0 0-.41 0h-28a2 2 0 0 0-.53.08l14.45 14.39Z" class="clr-i-solid clr-i-solid-path-1"/><path fill="currentColor" d="m33.81 7.39l-14.56 14.5a2 2 0 0 1-2.82 0L2 7.5a2 2 0 0 0-.07.5v20a2 2 0 0 0 2 2h28a2 2 0 0 0 2-2V8a2 2 0 0 0-.12-.61M5.3 28H3.91v-1.43l7.27-7.21l1.41 1.41Zm26.61 0h-1.4l-7.29-7.23l1.41-1.41l7.27 7.21Z" class="clr-i-solid clr-i-solid-path-2"/><path fill="none" d="M0 0h36v36H0z"/></svg>
                        </a>
                    </li>
                   
                </ul>
            </div>
            <div class="lg:mx-auto col-span-2">
                <h2 class="mb-6 text-lg font-bold text-gray-900 uppercase dark:text-primary-300">
                    Administraci칩n
                </h2>
                <ul class="text-gray-500 dark:text-white">
                    <li class="mb-4">
                        <a href={'tel:' + telAdminLinkeable} class="hover:text-primary-300 flex text-nowrap">
                            <CellPhone extraClass="h-6 w-6 mr-2 text-primary-300" />
                            {telAdminReadble}
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href={'tel:' + telAdmin2Linkeable} class="hover:text-primary-300 flex text-nowrap">
                            <CellPhone extraClass="h-6 w-6 mr-2 text-primary-300" />
                            {telAdmin2Readble}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="lg:mx-auto col-span-2">
                <h2 class="mb-6 text-lg font-bold text-gray-900 uppercase dark:text-primary-300">Mec치nicos</h2>
                <ul class="text-gray-500 dark:text-white">
                    <li class="mb-4">
                        <a href={'tel:' + telMechanicLinkeable} class="hover:text-primary-300 flex text-nowrap">
                            <CellPhone extraClass="h-6 w-6 mr-2 text-primary-300" />
                            {telMechanicReadble}
                        </a>
                    </li>
                    <li class="mb-4">
                        <a href={'tel:' + telMechanic2Linkeable} class="hover:text-primary-300 flex text-nowrap">
                            <CellPhone extraClass="h-6 w-6 mr-2 text-primary-300" />
                            {telMechanic2Readble}
                        </a>
                    </li>
                   
                </ul>
            </div>
            <div class="lg:mx-auto col-span-2">
                <h2 class="mb-6 text-lg font-bold text-gray-900 uppercase dark:text-primary-300">Repuestos</h2>
                <ul class="text-gray-500 dark:text-white">
                    <li class="mb-4">
                        <a href={'tel:' + telPartsLinkeable} class="hover:text-primary-300 flex text-nowrap">
                            <CellPhone extraClass="h-6 w-6 mr-2 text-primary-300" />
                            {telPartsReadble}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
        <span class="block text-center text-gray-500 dark:text-gray-400">
            Dise침ado por 
            <a href="https://manejoweb.com.ar/" class="hover:text-primary-500 text-primary-300 font-bold">
                ManejoWeb
            </a>
        </span>
    </div>
</footer>